body{
	background-color: #9DB3BF;
}
.cuadro{
	width:500px;
	height:300px;
	border-radius:15px;
	background-color:#BA9DBF;
	padding-left: 20px;
}
.cuadro1{
	width:200px;
	height:150px;
	border-radius:15px;
	background-color:#BA9DBF;
	padding-left:  15px;
	position: absolute;
	right: 600px;
	top: 215px;

}
